body{
    margin: auto;
    width: 80%;
    height: 600px;
}
.container{
    display: flex;
    justify-content: space-around;
   
}
.container div {
    background-color: gainsboro;
    padding: 5%;
}
